@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.BrandContainer{
  margin-right: auto;
}
.Brand{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 28px;
  color: #edf0f1;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.Brand:hover{
    color:#0088a9
  }
li, a, button{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}
header{
  background-color: #24252a;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}
.navlinks{
  list-style: none;
}
.navlinks li{
  display: inline-block;
  padding: 0px 20px;
}
.navlinks li  a{
  transition: all 0.3s ease 0s;
}
.navlinks li  a:hover{
  color:#0088a9
}
.cartbtn{
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.cartbtn:hover{
  background-color: rgba(0,136,169,0.8);
}
.cta{
  visibility: hidden;
  opacity: 0;
  cursor: none;
  transition: all 0.3s ease-in-out;
}
.ctavisible{
  visibility: visible;
  opacity: 1;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.spanvisible{
  margin-left: 7px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-decoration: none;
  padding: 5px 10px;
  background-color: rgba(0,136,169,1);
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}