@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.ItemInCart{
    align-self: center;
    margin: 0.5rem;
    width: 90%;
    height: 100px;
    background-color: #24252a;
    border-radius: 0.9rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.red{
    background-color: rgb(252, 46, 46);
}
.red:hover{
    background-color: rgb(212, 13, 13);
}